@using Hospital.Core.Entities
@model IReadOnlyList<Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>All Appointments</h1>
<hr />
<br />

<a asp-action="Create" class="btn btn-outline-primary">Add New Appointment</a>

@if (Model != null && Model.Any())
{
    <table class="mt-3 table table-bordered table-striped table-hover dt-responsive nowrap">
        <thead class="bg-dark text-white text-center">
            <tr>
                <th>Id</th>
                <th>AppointmentDate</th>
                <th>Status</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model)
            {
                <tr class="text-center align-middle">
                    <td>@appointment.Id</td>
                    <td>@appointment.AppointmentDate</td>
                    <td>@appointment.Status</td>
                    <td>@appointment.DoctorId</td>
                    <td>@appointment.PatientId</td>
                    <partial name="_ButtonsPartialView" model="@appointment.Id.ToString()" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-3 p-3 alert-warning">
        <h2>There's No Appointment</h2>
    </div>
}
