@using Hospital.Core.Dtos
@model DoctorsDto
@{
    ViewData["Title"] = "Details";
}


<h1 class="alert alert-warning">Doctor Details</h1>

<div class="card p-4 shadow-sm">
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">@Model.Phone</dd>

        <dt class="col-sm-3">Specialty</dt>
        <dd class="col-sm-9">@Model.Specialty</dd>

        
    </dl>
</div>

<br />

<a asp-action="Update" class="btn btn-success" asp-route-id="@Model.Id">Update</a> |
<a asp-action="Index" class="btn btn-light">Back To List</a>